<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="margin-bottom: 10px">
    <div class="card-header">
      Username:  <%=@post.user.name%> 
    </div>
    <div class="card-body container">
      <div class="row">
          <div class="col-6">
            <div>
              <%= form.label :title, style: "display: block" %>
              <%= form.text_field :title, placeholder: 'add text' %>
            </div>
            <div>
              <%= form.label :description, style: "display: block" %>
              <%= form.text_field :description, placeholder: 'add text' %>
            </div>
            <div>
              <%= form.label :image, style: "display: block" %>
              <%= form.file_field :image %>
            </div>
         </div>
         <div class="col-2">
            <div class="card-image">
              <%= image_tag post.image, style: "height:200px; wigth: 200px" if post.image.present?%>
            </div>
         </div>
      </div>
    </div>
  </div>  
  <div>
    <%= form.submit %>
  </div>
<% end %>
<% if post.id.present? %>
  <%= button_to "Delete image", {controller: :posts, action: 'delete_image', id: post.id}, method: :delete %>
<% end %>
